body {
    background-color: whitesmoke;
}

/* Site title font */
@font-face {
    font-family: 'Celestia';
    src: url('./fonts/Celestia.woff2') format('woff2'),
        url('./fonts/Celestia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#site-title {
    font-family: 'Celestia';
    font-size: 10vw;
    text-align: center;
    width: 100%;
    margin: 2vw;
}

#covid-banner {
    width: 100%;
    height: 5vw;
    text-align: center;
    line-height: 5vw;
    background-color: red;
    color: white;
    border: 1px 0 solid darkred;
}
