body {
    background-color: whitesmoke;
}

/* Site title font */
@font-face {
    font-family: 'Celestia';
    src: url('./fonts/Celestia.woff2') format('woff2'),
        url('./fonts/Celestia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Secondary display font */
@font-face {
    font-family: 'Helvetica LT Std';
    src: url('./fonts/HelveticaLTStd-BoldCond.woff2') format('woff2'),
        url('./fonts/HelveticaLTStd-BoldCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

#site-title {
    font-family: 'Celestia';
    font-size: 10vw;
    text-align: center;
    width: 100%;
    margin: 2vw;
}

#covid-banner {
    width: 100%;
    height: 5vw;
    text-align: center;
    line-height: 5vw;
    background-color: red;
    color: white;
    border: 1px 0 solid darkred;
}
/* start of  categories */
.kidsStyle{
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  justify-content: center;
  
}
.card{
  margin: 10px; 
  text-align: center; 
}
.card-img-top{
  width: 100%;
  height: 300px;
  object-fit: scale-down;
}
.card-img-top {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: top;
}
.cardContainer{
  border-bottom: 2px solid gray;
}
/* end categories */
/* sort filter button */
.dropdown{
  margin-left: 20px;
}
/* start form */
.formContainer{
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-flow: row wrap;
}
.review{
  width: 50%;
  min-width: 300px;
}
.txt-center {
  text-align: center;
}
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
  width: 90px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}

.rating > label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
  color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #FFD700;
}
.starRating{
  float: left;
}
.checked{
  color: #FFD700;
}
#reviewsContainer{
  height: 300px;
  overflow: scroll;
  padding: 10px;
  min-width: 300px;
}
/* end form */

/* ---index.html--- */
.carousel {
    margin: 0 auto 5vw;
    width: 80vw;
}

.carousel-inner {
    margin: auto;
}

.carousel-item {
    background-color: darkslateblue;
    height: 500px;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
    object-position: top;
    margin: 0;
    animation: upAndDown 20s infinite;
}

@keyframes upAndDown {
    50% {object-position: bottom;}
  }

.carousel-caption {
    width: 30% !important;
    padding-right: 5rem;
    left: 52% !important;
}

.carousel-caption h2 {
    font-family: 'Helvetica LT Std';
    text-align: left;
    font-size: clamp(50px, 5vw, 125px) !important;
    line-height: 5vw;
    color:#6a5db8;
    text-transform: uppercase;
}

.carousel-indicators {
    justify-content: flex-end !important;
}

#categories {
    margin: 0 auto 5vw;
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

#adult-link {
    background-image: url('https://www1.assets-gap.com/webcontent/0018/440/133/cn18440133.jpg'); 
    background-position: top; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 25vw;
    width: 49%;
    text-align: center;
}

#adult-link a {
    text-decoration: none;
}

#adult-link p {
    height: 25vw;
    line-height: 7vw;
    font-family: 'Helvetica LT Std';
    font-size: 8vw;
    text-decoration: none;
    color: white;
    background-color: rgb(185, 42, 42);
    mix-blend-mode: multiply;
    margin:0;
    padding-top:15vw;
}

#kids-link {
    background-image: url('https://www1.assets-gap.com/webcontent/0018/420/770/cn18420770.jpg'); 
    background-position: top; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 25vw;
    width: 49%;
    text-align: center;
}

#kids-link a {
    text-decoration: none;
}

#kids-link p {
    height: 25vw;
    line-height: 7vw;
    font-family: 'Helvetica LT Std';
    font-size: 8vw;
    text-decoration: none;
    color:white;
    background-color: rgb(252, 184, 11);
    mix-blend-mode: multiply;
    margin:0;
    padding-top:15vw;
}


.subheading {
    font-family: 'Helvetica LT Std';
    color:lightgrey;
    margin: 0 auto;
    width: 80vw;
}

/* ---end index.html--- */

/* ---about.html---*/
.about img {
    height: 300px;
    width: 300px;
    padding: 8px;
    margin: 4px;
    float: left;

}

/* ---Begin Footer---*/
#footer {
    width: 100%;
    height: fit-content;
    background-color: #333133;
    color: #B5B3B8;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10vh 10vw;
}

.footer-links, .payment-types, .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links, .payment-types, .social-icons li {
    list-style-type: none;
}

.footer-links a {
    text-decoration: none; 
    color: #B5B3B8;
}

.footer-links a:hover {
    color: white;
}

.footer-links {
    padding: 0 20%;
    flex: 1 1 100%;
}

.payment-types {
    width: 40%;
    margin: 5vh auto;
}

.social-icons {
    width: 20%;
    margin: 5vh auto;
    vertical-align: middle;
}

.social-icons svg {
    width: 2rem;
    fill:lightgray;
}

.social-icons svg:hover {
  fill:white;
}

.copyright {
    flex: 1 1 100%;
    text-align: center;
}
/* ---End Footer---*/

.color-swatches {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-position: center;
  object-fit: none;
  border: 1px solid #999;
  padding: 1px; 
}

#shopping-cart-icon {
  height: 2rem;
  fill: white;
  margin-top: .4rem;
}

#cart-count {
  vertical-align: top;
    margin-left: -1.3rem; 
}
